html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

span {
	display:inline-block;
	float:left;
	background:#dddddd;
	background:-webkit-linear-gradient(top, #dddddd, #bfbfbf, #dddddd);
	background:-moz-linear-gradient(top, #dddddd, #bfbfbf, #dddddd);
	background:-o-linear-gradient(top, #dddddd, #bfbfbf, #dddddd);
	padding:7px 30px;
	position: relative;
}
span:before {
	content: '';
	position: absolute;
	top: 0;
    left: 0px;
    border: 15px solid transparent;
    border-left: 5px solid white;
}
span:after {
	content:'';
	position: absolute;
	top:0;
	right:0;
	border: 15px solid white;
	border-right: 0 solid white;
	border-left: 5px solid transparent;
}
span:hover {
	background:#b0e28c;
	background:-webkit-linear-gradient(top, #b0e28c, #69c724, #b0e28c);
	background:-moz-linear-gradient(top, #b0e28c, #69c724, #b0e28c);
	background:-o-linear-gradient(top, #b0e28c, #69c724, #b0e28c);
	color: white;
}

span:last-of-type:after, span:first-of-type:before {
	display:none;
}