
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Правила</title>
</head>
<body>
    <div> 
        <h1>Правила</h1>
        <hr />

        @Html.ActionLink("Главная", "Index", "Home");
        @Html.ActionLink("6 из 45", "Game", "Home");
        @Html.ActionLink("Правила", "Rules", "Home");
        @Html.ActionLink("Баланс", "Index", "Balance");
        <hr />

        <p>В билете — 6 игровых полей: А, Б, В, Г, Д, Е. Заполнить можно сразу все.</p>
        <p>В каждом поле — числа от 1 до 45.</p>
        <ol>
            <li>
                <p>Выберите не менее 6 неповторяющихся чисел в любом поле — вы можете заполнить одно поле или сразу шесть (А, Б, В, Г, Д и Е).</p>
                <ul>
                    <li>Отметив в билете «Автоматически», вы выбираете автозаполнение билета: в этом случае система выберет за вас случайную комбинацию чисел.</li>
                    <li>Для участия в нескольких тиражах укажите их количество в специальной графе.</li>
                </ul>
            </li>
            <li>
                <p>Для участия в нескольких тиражах укажите их количество в специальной графе.</p>
                <p>Обязательно сохраните квитанцию до получения выигрыша!</p>
            </li>
        </ol>
    </div>
</body>
</html>
